body {
  background: url() no-repeat fixed;
  background-size: 100% 100%;
  line-height: 1.8em;
  color: #333;
}
#content {
  align-self: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
}
#cardSlots, #cardPile {
  height: 480px;
  width: 480px;
}

.fondoSudoku{
  position : absolute;
  top : 0;
  left : 0;
  width: 480px;
  height: 480px;
}
.lineas{
  position : absolute;
  top: -2px;
  left: -2px;
  border-collapse: collapse;
  border: 6px solid black;
}
.lineas tr th{
  width: 115px;
  height: 115px;
  border: 2px dashed black;
  padding : 0px;
}
.lineas tr th:nth-child(even){
  border-right: 4px solid black;
}
.lineas tr:nth-child(even) th{
  border-bottom: 4px solid black;
}
 
 
#cardPile {
  height: 120px;
  width: 480px;
  margin-top: 60px;
  position: relative;
}
 
 
.madera{
  position : absolute;
  top: -75px;
  left: -20px;
  height: 200px;
  width: 520px;
  z-index: -2;
}
.maderas{
  position : absolute;
  top: 0px;
  left: -60px;
  height: 480px;
  width: 600px;
  z-index: -1;
}
.maderas1{
  top: 0px;
  left: 0px;
  height: 480px;
  width: 480px;
}
.maderas2{
  top: -58px;
  left: -37px;
  height: 630px;
  width: 545px;
}
.card{
  position : absolute;
}


#cardSlots div, #cardPile div, .fondo{
  float: left;
  width: 91px;
  height: 91px;
  border: 10px solid rgba(255,255,255, 0);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 4px;
  background: url() no-repeat;
  background-size: 91px 91px;
}
#cardPile div {
  border-color: rgba(245, 226, 115, 1);
}
 
#cardPile div.ui-draggable-dragging, #cardSlots div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  z-index: 50;
}
#basura{
  width: 200px;
  height: 200px;
  background-image: url('assets/sudoku2/basura1.png');
  background-size: 200px;
  align-self: auto;
}
#basura.hovered {
  background-image: url('assets/sudoku2/basura2.png');
}

.home, .refresh{
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  border-radius: 300px;
  background: rgb(52,152,219);
}
.home{
  right: 0;
}
.refresh{
  left: 0;
}
.home span i:first-child, .refresh span i:first-child{
  color: rgb(52,152,219);
}
.home span:hover i:first-child, .refresh span:hover i:first-child{
  color: rgb(41,128,185);
}
.fa-spin {
    animation: fa-spin 1s infinite linear !important;
}
@media only screen and (max-height: 800px) {
  #content {
    width: 720px;
    height: 660px;
  }
  #cardSlots, #cardPile {
    margin-left: -240px;
  }

  #basura{
    position: absolute;
    left: auto;
    right: 0;
    bottom: 0;
    margin: 0;
  }
  .home, .refresh{
    right: 40px;
    bottom: auto;
    left: auto;
  }
  .home{
    top: 80px;
  }
}
